@import "variables";
@import "utils";


body {
  background-color: #e3e3e3;
  font-family: 'Lato', 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: $color-grey;
}