$color-primary: #ef5b56;
$color-grey: #404040;

$base-font-family: 'Fira Sans', 'Roboto', 'Helvetica', 'Arial', sans-serif;
$base-font-size: 16px;
$base-font-color: $color-grey;

$base-box-shadow: 0 2.3px 3.3px rgba(#000, .25);